@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

#container {
    border: 1px solid red;
    width: 1000px;
    margin: auto;   
    max-width: 800px;
}
.menus {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menus li {
    margin: 40px;
}

@media (max-width: 768px) {
    #container {
        width: 600px;
    }

    .menus li {
        margin: 30px;
    }
}

@media (max-width: 600px) {
    #container {
        width: 420px;
    }

    .menus li {
        margin: 15px;
    }
}