@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: darkgray;
}

#container {
    border: 1px solid red;
    width: 1000px;
    margin: auto;   
    max-width: 800px;
    background-color: rgb(143, 143, 143);
}
.menus {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menus li {
    margin: 40px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    transition: 1s ease-in-out;
}

.menus li:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}

@media (max-width: 768px) {
    #container {
        width: 600px;
    }

    .menus li {
        margin: 15px;
    }
}

@media (max-width: 600px) {
    #container {
        width: 550px;
    }

    .menus li {
        margin: 10px;
    }
}

@media (max-width: 550px) {
    #container {
        width: 490px;
    }

    .menus li {
        margin: 2px;
    }
}

@media (max-width: 425px) {
    #container {
        width: 400px;
    }

    .menus li {
        margin: 5px;
        font-size: 0.6em;
    }
}

@media (max-width: 375px) {
    #container {
        width: 350px;
    }

    .menus li {
        margin: 2px;
        font-size: 0.5em;
    }
}